*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
  
  .zshow {
    width: 400px;
    height: 400px;
  }
  
  .zsmall-img {
    width: 350px;
    height: 70px;
    margin-top: 10px;
    position: relative;
  }
  
  .zsmall-img .icon-left, .zsmall-img .icon-right {
    width: 12px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  
  .zsmall-img .icon-left { transform: rotate(180deg) }
  
  .zsmall-img .icon-right { right: 0; }
  
  .zsmall-img .icon-left:hover, .zsmall-img .icon-right:hover { opacity: .5; }
  
  .zsmall-container {
    width: 310px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .zsmall-container div {
    width: 800%;
    position: relative;
  }
  
  .zsmall-container .zshow-small-img {
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
  }
  
  .zsmall-container .zshow-small-img:last-of-type { margin-right: 0; }
  

  .zshow div{
    z-index: 150 !important;
  }